<h1><%= @list.name %></h1>
<% Item.all.each do |x| %>
  <% if x.list_id == @list.id %>
    <a href="/user/list/item/<%= x.id %>/delete"><%= x.name %></a> &nbsp; <%= x.quantity %>
  <% end %>
<% end %>

<br>
<a href="/user/lists/<%= @list.id %>">Add another Item</a>
<a href="/user/<%= @list.id %>/lists">Back to My Lists</a>
<a href="/user/lists/<%= @list.id %>/share">Share this list</a>